repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^(tests/dataset/|tests/database/|tests/expected_results/)
      - id: trailing-whitespace
        exclude: ^(tests/dataset/|tests/database/|tests/expected_results/)
-   repo: https://github.com/hadialqattan/pycln
    rev: v1.2.4
    hooks:
      - id: pycln
        args: [--config=pyproject.toml]
-   repo: https://github.com/PyCQA/isort
    rev: 5.10.1
    hooks:
      - id: isort
-   repo: https://github.com/psf/black
    rev: 22.1.0
    hooks:
      - id: black
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
      - id: flake8
        verbose: false
