branches:
  except:
  - "/^wip/"
  - "/^dependabot/"

language: python

python: 3.8
cache: pip

install:
- pip install flake8
- pip install -e .
- python3 -m spacy download en_core_web_sm

stages:
  - test
  - name: deploy
    if: type = push AND branch = master AND repo = stanford-oval/genienlp

jobs:
  include:
    -
      name: "Main tests for almond task"
      stage: test
      script:
        - bash ./tests/test_main_almond.sh
    -
      name: "Main tests for almond_multilingual task"
      stage: test
      script:
        - bash ./tests/test_main_almond_multilingual.sh
    -
      name: "Paraphrasing tests"
      stage: test
      script:
        - bash ./tests/test_paraphrasing.sh
    -
      name: "Translation tests"
      stage: test
      script:
        - bash ./tests/test_translation.sh
    -
      name: "NED tests"
      stage: test
      script:
        - bash ./tests/test_NED.sh
    -
      name: "Token Classification tests"
      stage: test
      script:
        - bash ./tests/test_token_classification.sh
    -
      name: "Sequence Classification tests"
      stage: test
      script:
        - bash ./tests/test_sequence_classification.sh
    -
      name: "Calibration tests"
      stage: test
      script:
        - bash ./tests/test_calibration.sh
    -
      name: "KF server tests"
      stage: test
      script:
        - bash ./tests/test_kfserver.sh

    -
      name: "Docker build"
      stage: deploy
      services:
        - docker
      install:
      - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
      script: ./travis/docker-build.sh

deploy:
  provider: pypi
  username: __token__
  password:
    secure: wmUc0koTAKIbmw2jZTUujZFdMlUYDH+1Hb8F6eGEy9uYQfq3lVK4vQmpdasiuWP0kvonxIscwLCxlu0RBKchheuIrZPsAN+aXGmWLsVfZwGSD7IARPtahoR2ce60Ap5Lv3WUhGxRFEAkccr8wfHU/pajTZH/OC9omS3hJnq2FwbxFlZ0v35PzbTSdxY5gOoWFmzfGsihJJLD8u2Bce5pGChJT4Azccav8oyPgxXZKqsWfbfkSr5rORYFZSzNGXX1QVbrq3QGLig2NuK5L43X8NIUGiGmaVJUEJBroGd7TIKhZpSXPJS5VZefdaG+efd9FtdBHbaC8f72VpcB1Kmb8tIIATcU29Qj1JNgPnxwXz3PFUDkXSmuo8YQb6HWU83Ay7vNMK1wIXlf7A+whJvskpFGNysGstzws/B49+P7PFLZGr4reMWXCnSsaOHpGsCoA0iPOW+nX7OtfwyWlgmBM6npx+MeGCOelUZ9jiTc5w0AblakXCNigRdffc2X7ScGywfPaU7OaHviOk/QGgHRkKqFGllMQFy4BXQCUWvLNqGAuocaGBjff6bxVr2xm8kdvrDNay07uGLndngeAIR+a9cYHlTlyRbILLwsQ16td+MvAe4KPNO9HdNKyl/wYRW8E617XEnSEZM6t/v30a+2raNcwGix7ZsHWRjx2m0Hn2U=
  on:
    tags: true
    repo: stanford-oval/genienlp
  distributions: sdist bdist_wheel
