numpy
torch>=0.4.1,<1.2.0

# Revtok
-e git+https://github.com/jekbradbury/revtok.git#egg=revtok

# text requirements
tqdm 
nltk==3.2.5

# tensorboard
tensorboardX
python-dateutil

# additional python packages
ujson
-e git+git://github.com/andersjo/pyrouge.git#egg=pyrouge
sacrebleu
orderedset
requests