[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = ">=1.12.0"
orderedset = "*"
numpy = "*"
tornado = "*"
SQLAlchemy = "*"
semver = "*"
ujson="*"

[dev-packages]

[requires]
python_version = "3.6"
